<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app\lib\angular.min.js"></script>
    <script src="app\app.js"></script>
  </head>
  <body>
    <div ng-app="myApp">      
      <header ng-include="'header.html'"></header>
      <div class="content">
        <div ng-controller="MyController">
          <input type="text" ng-model="search" placeholder="search key word for member">          
          
          <div>
            <label>Order By:name</label><input type="radio" ng-model="orderBy" value="name">
            <label>Order By:rate</label><input type="radio" ng-model="orderBy" value="rate">
            <label>Order By:belt</label><input type="radio" ng-model="orderBy" value="belt">  
          </div>
          
          <ul>
            <li ng-repeat="ninja in ninjas | orderBy: orderBy | filter: search" ng-show="ninja.available">
              {{ ninja.name }} - {{ ninja.belt }} - {{ ninja.rate | currency : '$' }}
            </li>
          </ul>
        </div>
      </div>    
    </div>    
  </body>
</html>

